<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13960004407-ffgog0k8v7q1090jn4qchndj94ndn6ne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13960004407-ffgog0k8v7q1090jn4qchndj94ndn6ne</string>
	<key>API_KEY</key>
	<string>AIzaSyCc9Km6IVSEdaKD6K2ofvquPzkD3kbWNkE</string>
	<key>GCM_SENDER_ID</key>
	<string>13960004407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bef</string>
	<key>PROJECT_ID</key>
	<string>befriend-8a755</string>
	<key>STORAGE_BUCKET</key>
	<string>befriend-8a755.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13960004407:ios:993303396fae15e0f0d0b2</string>
	<key>DATABASE_URL</key>
	<string>https://befriend-8a755.firebaseio.com</string>
</dict>
</plist>